.carousel-control-next-icons:after
{
  content: '>';
  font-weight: 900;
  font-size: 55px;
  color: rgb(22, 0, 146);
}

.carousel-control-prev-icons:after {
  content: '<';
  font-weight: 900;
  font-size: 55px;
  color: rgb(22, 0, 146);
}

.custom-margin{
    margin-top: 50px;
}